<div class="menu-bar" id="menu-bar">
  	<div class="logo">
  		<img id="logo" src="/img/transparentlogocc.png">
  	</div>
  	<div class="nav-bar" id="nav-bar">
  		<ul>
  			<!-- FIX ME -->
	  		<% if (active == "podcasts") { %>
	  			<li><a id="nav-bar-podcasts" href="/" class="active">Podcasts</a></li>
	  		<% } else { %>
	  			<li><a id="nav-bar-podcasts" href="/">Podcasts</a></li>
	  		<% } %>
	  		<% if (active == "gallery") { %>
	  			<li><a id="nav-bar-gallery" href="/gallery" class="active">Gallery</a></li>
	  		<% } else { %>
	  			<li><a id="nav-bar-gallery" href="/gallery">Gallery</a></li>
	  		<% } %>
	  		<% if (active == "videos") { %>
	  			<li><a id="nav-bar-videos" href="/videos" class="active">Videos</a></li>
	  		<% } else { %>
	  			<li><a id="nav-bar-videos" href="/videos">Videos</a></li>
	  		<% } %>
	  		<% if (active == "about") { %>
	  			<li><a id="nav-bar-about" href="/about" class="active">About</a></li>
	  		<% } else { %>
	  			<li><a id="nav-bar-about" href="/about">About</a></li>
	  		<% } %>
		</ul>
	</div>

	<div class="social" id="social">
		<a class="facebook social-roll" href="https://www.facebook.com/clintcroninshow" target="_blank"></a>
		<a class="twitter social-roll" href="https://twitter.com/clintcroninshow" target="_blank"> </a>
		<a class="instagram social-roll" href="https://instagram.com/clintcroninshow" target="_blank"> </a>
		<a class="youtube social-roll" href="https://www.youtube.com/channel/UCtxTrESrkTrTymukyeRcMyw" target="_blank"> </a>
		<a class="itunes social-roll" href="https://itunes.apple.com/us/podcast/the-clint-cronin-show/id1158642692" target="_blank"> </a>
		<a class="google-play social-roll" href="https://play.google.com/music/m/Ixfdb2zv2qndwrrphxczgs4wxbq?t=The_Clint_Cronin_Show" target="_blank"> </a>
		<a class="rss social-roll" href="http://clintcronin.libsyn.com/rss" target="_blank"> </a>
		<a class="patreon social-roll" href="https://www.patreon.com/bePatron?patAmt=1&u=2441404" target="_blank"> </a>
	</div>

	<div class="clearfix"></div>
</div>
