&nbsp;&nbsp;&nbsp;&nbsp;"A podcast about nothing and everything chronicling the life of two friends and fellow martial artists from different sides of the world taking on the world one episode at a time from the San Francisco Bay Area. The unlikely duo brings comedy, health tips and honest insights to the world every week in iTunes, Google Play, Stitcher, Youtube and available as a direct download at clintandkash.com. 
<br/><br/>
&nbsp;&nbsp;&nbsp;&nbsp;The Clint & Kash Podcast is the place to go for the real scoop on Brazilian Jiu Jitsu ( BJJ ) and Mixed Martial Arts ( UFC, MMA ) . We break down techniques, matches, fights and give an honest look at the world we live in. From Sunnyvale California thanks for the love as always thanks for listening!"

<div id="patreon-btn">
	<span id="patreon-text">Support us on</span>
	<a href="https://www.patreon.com/bePatron?patAmt=1&u=2441404" target="_blank"> 
		<img src="/img/patreonLogo.png" alt="Support me on Patreon!">
	</a>
</div>