&nbsp;&nbsp;&nbsp;&nbsp;"A podcast about nothing and everything chronicling the life of Brazilian Jiu Jitsu Black Belt and Silicon Valley technology leader and motivational speaker Clint Cronin. 
<br/><br/>
&nbsp;&nbsp;&nbsp;&nbsp;I take what I have learned in Brazilian Jiu Jiu Jitsu, business and life and show you have to apply the principles of each to making the most out of your time and enable you to succeed anywhere you apply yourself. With hard work, dedication and belief in yourself all things are truly possible. Join me on my travels to meet the originators, the innovators, and the new breed of positive thinkers of this day and age. On top of that the Clint Cronin Show is the place to go for the real scoop on Brazilian Jiu Jitsu ( BJJ ) and Mixed Martial Arts ( UFC, MMA ) . I break down techniques, matches, fights and give an honest look at the world I live in. From Sunnyvale California to all of you around the world thanks for the love as always thanks for listening!"

<div id="patreon-btn">
	<span id="patreon-text">Support us on</span>
	<a href="https://www.patreon.com/bePatron?patAmt=1&u=2441404" target="_blank"> 
		<img src="/img/patreonLogo.png" alt="Support me on Patreon!">
	</a>
</div>
