<% layout('layout') -%>

<div id="clinton" class="about-me">
	<div class="about-container">
		<div id="clinton-img" class="about-img">
			<img src="./img/blackbelt.jpg" />
		</div>
		<div class="follow-me" id="follow-clinton">
			<a class="facebook follow" href="https://www.facebook.com/clintcronin" target="_blank"></a>
			<a class="twitter follow" href="https://twitter.com/clintcronin" target="_blank"> </a>
			<a class="instagram follow" href="https://instagram.com/clintcronin" target="_blank"> </a>
			<a class="youtube follow" href="https://youtube.com/clintcronin" target="_blank"> </a>
		</div>
		<div id="clinton-about" class="about-content">
			<span class="name">Clinton Cronin</span>
			<br/>
			<span class="city">Sunnyvale, CA</span>

			<p>Hometown: Toms River, New Jersey</p>
			<p>Host / On of the Clint Cronin Show</p>
			<p>Friend to all living things</p>
			<p>Brazilian Jiu Jitsu Black Belt</p>
			<p>Trained American Professional Wrestler</p>
			<p>Comic Book Historian</p>
			<p>Linux / Big Data Systems Engineer</p>
			<p>BJJ US Open Champion </p>
			<p>World Traveler</p>

			<span class="quotes">Favorite Quotes</span>

			<p><span class="quote">"Tentions in our lives that are destroying our minds
			Unite themselves together to make our conciousness blind
			Conditioned to self interest with emotions locked away
			If that's what they call normal, then I'd rather be insane
			"</span>- Jesse Michaels</p>

			<p><span class="quote">"Damn"</span>- Ron Simmons</p>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
