<% layout('layout') -%>

<div id="videos-ajax-container" class="ajax-container">
	<% var index = 0; %>
	<% videos.forEach(function(video) { %>
		<div class="video-container">
			<a href="https://www.youtube.com/watch?v=<%=video.id%>" data-lity>
				<img class="thumb" src="<%= video.thumbnail.src %>">
			</a>
			<div class="video-title"> <%=video.title%> </div>
		</div>
		<% index = index + 1; %>
	<% }); %>
	<div class="clearfix"></div>
</div>