<div id="share-buttons" class="share-buttons">
	<!-- source for this 	https://simplesharebuttons.com/html-share-buttons/ -->
    <!-- <img id="share-btn" src="./img/share-btn-red.png" alt="Share" /> -->
    <!-- Facebook -->
    <a href="http://www.facebook.com/sharer.php?u=http://www.clintandkash.com" target="_blank">
        <img src="./img/facebook-share.png" alt="Facebook" />
    </a>
    <!-- Google+ -->
    <a href="https://plus.google.com/share?url=http://www.clintandkash.com" target="_blank">
        <img src="./img/google-share.png" alt="Google" />
    </a>
    <!-- Twitter -->
    <a href="https://twitter.com/share?url=http://www.clintandkash.com&amp;text=Clint%20and%20Kash%20Podcast&amp;hashtags=clintandkash" target="_blank">
        <img src="./img/twitter-share.png" alt="Twitter" />
    </a>    
    <!-- Reddit -->
    <a href="http://reddit.com/submit?url=http://www.clintandkash.com&amp;title=Clint and Kash Podcast" target="_blank">
        <img src="./img/reddit-share.png" alt="Reddit" />
    </a>
    <!-- Patreon -->
    <a href="https://www.patreon.com/bePatron?patAmt=1&u=2441404" target="_blank">
        <img src="./img/patreon.png" alt="Patreon" />
    </a>
</div>