<% layout('layout') -%>

<div id="clinton" class="about-me">
	<div class="about-container">
		<div id="clinton-img" class="about-img">
			<img src="./img/clinton.jpg" />
		</div>
		<div class="follow-me" id="follow-clinton">
			<a class="facebook follow" href="https://www.facebook.com/clintcronin" target="_blank"></a>
			<a class="twitter follow" href="https://twitter.com/clintcronin" target="_blank"> </a>
			<a class="instagram follow" href="https://instagram.com/clintcronin" target="_blank"> </a>
			<a class="youtube follow" href="https://youtube.com/clintcronin" target="_blank"> </a>
		</div>
		<div id="clinton-about" class="about-content">
			<span class="name">Clinton Cronin</span>
			<br/>
			<span class="city">Sunnyvale, CA</span>

			<p>Hometown: Krypton by way of Secaucus New Jersey</p>
			<p>Host / On air personality Clint & Kash Podcast</p>
			<p>Friend to all living things</p>
			<p>Brazilian Jiu Jitsu Practitioner</p>
			<p>Trained American Professional Wrestler</p>
			<p>Comic Book Historian</p>
			<p>Linux Systems Engineer</p>
			<p>BJJ US Open Champion </p>
			<p>World Traveler</p>

			<span class="quotes">Favorite Quotes</span>

			<p><span class="quote">"Tentions in our lives that are destroying our minds
			Unite themselves together to make our conciousness blind
			Conditioned to self interest with emotions locked away
			If that's what they call normal, then I'd rather be insane
			"</span>- Jesse Michaels</p>

			<p><span class="quote">"Damn"</span>- Ron Simmons</p>
		</div>
		<div class="clearfix"></div>
	</div>
</div>

<div id="kash" class="about-me">
	<div class="about-container">
		<div id="kash-about" class="about-content">
			<span class="name">Kash Erfaninan</span>
			<br/>
			<span class="city">Cupertino, CA</span>

			<p>Hometown: Parts Unknown</p>
			<p>Host / On air personality Clint & Kash Podcast</p>
			<p>Globally Recognized Movement Coach with emphasis on manliness and beard growing</p>
			<p>Striker, Grappler, Athlete, Lover, Friend.</p> 
			<p>Decorated High School Football Athlete</p>
			<p>Brazilian Jiu Jitsu Practitioner & Mixed Martial Arts Fighter</p>
			<p>BJJ US Open Champion </p>
			<p>Fastest Knockout in California 7 Seconds in Born to Fight promotion </p>
			<p>Nationally Certified Personal Trainer</p>
			<p>Often mistaken for Jason Momoa or Xerxes</p>
		</div>
		<div class="follow-me" id="follow-kash">
			<a class="facebook follow" href="https://www.facebook.com/kash.erfanian" target="_blank"></a>
			<a class="twitter follow" href="https://twitter.com/kasherfanian" target="_blank"> </a>
			<a class="instagram follow" href="https://www.instagram.com/kingkasherfanian/" target="_blank"> </a>
			<a class="youtube follow" href="https://youtube.com/kasherfanian" target="_blank"> </a>
		</div>
		<div id="kash-img" class="about-img">
			<img src="./img/kash.jpg" />
		</div>
		<div class="clearfix"></div>
	</div>
</div>